<div class="course col-row tb-row" data-id="{{_id}}" data-project-id="{{projectTag._id}}">
  <div class="col-10">{{moduleTag.title}}</div>
  <div class="col-40">{{title}}</div>
  <div class="col-20">{{momentFormat updatedAt 'DD/MM/YY, h:mm:ss a'}}</div>
  <div class="col-30">{{projectTag.title}}</div>
</div>
