<div class="inner">
  <div class="title">
    {{t 'app.tagmap'}}
  </div>
  <div class="description">
    {{t 'app.tagmapdesc'}}
  </div>
  {{#if tags.length}}
    <div class="header col-row tb-row">
      <div class="col-40">{{t 'app.project'}}</div>
      <div class="col-15">{{t 'app.id'}}</div>
      <div class="col-45">{{t 'app.title'}}</div>
    </div>
    <div class="projects">
      {{#each projectTags}}
        <div class="project col-row tb-row" data-id="{{attributes._id}}">
          <div class="col-40">{{attributes.title}}</div>
            <div class="col-60">
              {{#each attributes.courses}}
                <div class="col-25">{{this.attributes.moduleTag.title}}</div>
                <div class="col-75">{{this.attributes.displayTitle}}</div>
              {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    {{t 'app.notags'}}
  {{/if}}
</div>
